.root{
-fx-font-size: 11pt;
-fx-font-family: "Arial Hebrew";
-fx-not-achieved: red;
-fx-achieved:     green;
}

.title{
-fx-font-size: 21pt;
-fx-font-family: "Arial Hebrew";
}
.default-color0.chart-bar { -fx-bar-fill: -fx-not-achieved; }
.default-color1.chart-bar { -fx-bar-fill: -fx-achieved; }
.axis{
  -fx-tick-label-font-family: "Arial Hebrew";
}

.lblDay{
-fx-font-family: "Arial Hebrew";
}